<section class="advantages">
    <div class="container-main">
        <div class="txt-block">
            <div class="question">
              <span class="font-18r">Кто мы и для кого этот вебинар</span>  
            </div>
            <div class="title">
                <h2 class="font-32b">EDC Blockchain — многофункциональная блокчейн-платформа для токенизации бизнеса!</h2>
            </div>
            <div class="txt">
               <p class="font-18r">Вебинары от команды EDC Blockchain — лучший способ научиться вкладывать ваши средства максимально эффективно!
            </p> 
            </div>
            
        </div>
        <div class="item-wr">
            <div class="item">
                <div class="pic">
                    <img src="img/pics/item1.png" alt="">
                </div>
                <div class="title">
                    <span class="font-18r">Развитие c 2016</span>
                </div>
                <div class="text">
                    <p class="font-16r">Блокчейн-платформа, стабильно развивающаяся с 2016 года, и уже назвилось очень сильно</p>
                </div>
            </div>
            <div class="item select">
                <div class="pic">
                    <img src="img/pics/item2.png" alt="">
                </div>
                <div class="title">
                    <span class="font-18r">1.2 миллиона </span>
                </div>
                <div class="text">
                    <p class="font-16r">Сообщество более 1.2 млн зарегистрированных пользователей, и это число частет с каждым днем.</p>
                </div>
            </div>
            <div class="item">
                <div class="pic">
                    <img src="img/pics/item3.png" alt="">
                </div>
                <div class="title">
                    <span class="font-18r">57 стран присутствия</span>
                </div>
                <div class="text">
                    <p class="font-16r">EDC Blockchain работает в 57 странах Мира, и это не придел. Комюнити растет с каждым днем</p>
                </div>
            </div>
            
        </div>
    </div>
</section>