<section class="advantages" id="advantages">
    <div class="container-main">
        <div class="txt-block">
            <div class="question">
              <span class="font-18r">@@question</span>
            </div>
            <div class="title">
                <h2 class="font-32b">@@title</h2>
            </div>
            <div class="txt">
               <p class="font-18r">@@description</p>
            </div>

        </div>
        <div class="item-wr">
            <div class="item">
                <div class="pic">
                    <img src="img/pics/item1.png" alt="">
                </div>
                <div class="title">
                    <span class="font-18r">@@item1</span>
                </div>
                <div class="text">
                    <p class="font-16r">@@item1Txt</p>
                </div>
            </div>
            <div class="item select">
                <div class="pic">
                    <img src="img/pics/item2.png" alt="">
                </div>
                <div class="title">
                    <span class="font-18r">@@item2</span>
                </div>
                <div class="text">
                    <p class="font-16r">@@item2Txt</p>
                </div>
            </div>
            <div class="item">
                <div class="pic">
                    <img src="img/pics/item3.png" alt="">
                </div>
                <div class="title">
                    <span class="font-18r">@@item3</span>
                </div>
                <div class="text">
                    <p class="font-16r">@@item3Txt</p>
                </div>
            </div>

        </div>
    </div>
</section>
