<div class="map-slider bottom-slider">
    <div class="container-main">

        <div class="content-wrapper">
            <div class="top-content">
                <div class="title">
                    <h2 class="font-32b">Информационный век требует новых подходов!</h2>
                </div>
                <div class="txt">
                    <p>Лучший способ создать собственную международную команду лидеров - <br>стать частью такой команды!</p>
                </div>
                <div class="question">
                    <p class="font-18r">Ключевые качества новых лидеров</p>
                </div>
            </div>
            <div class="slider">
                <div class="slider-item">
                    <div class="pic">
                        <img src="img/pics/bottom-slider1.png" alt="">
                    </div>
                    <div class="title">
                        <p class="font-18r">Компетентность</p>
                    </div>
                    <div class="txt">
                        <p class="font-16r">Let us know how we can help! Get in touch and we'll give you a fresh perspective on your business.</p>
                    </div>
                    <a href="#"><span class="font-16r">Learn more</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="5" height="8" viewBox="0 0 5 8">
                            <g>
                                <g>
                                    <path fill="#166dd5" d="M4.831 4.436a.589.589 0 0 0 .17-.425.587.587 0 0 0-.17-.426l-3.3-3.4a.554.554 0 0 0-.41-.175.558.558 0 0 0-.414.175L.174.76a.59.59 0 0 0-.17.425.59.59 0 0 0 .17.426l2.328 2.4L.174 6.41a.593.593 0 0 0-.17.426c0 .166.057.308.17.425l.533.574a.554.554 0 0 0 .413.175.55.55 0 0 0 .412-.175z"></path>
                                </g>
                            </g>
                        </svg>
                    </a>
                </div>
                <div class="slider-item">
                    <div class="pic">
                        <img src="img/pics/bottom-slider2.png" alt="">
                    </div>
                    <div class="title">
                        <p class="font-18r">Профессионализм</p>
                    </div>
                    <div class="txt">
                        <p class="font-16r">After a collaborative assessment we'll explore your business problems and needs co-creatively.</p>
                    </div>
                    <a href="#"><span class="font-16r">Learn more</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="5" height="8" viewBox="0 0 5 8">
                            <g>
                                <g>
                                    <path fill="#166dd5" d="M4.831 4.436a.589.589 0 0 0 .17-.425.587.587 0 0 0-.17-.426l-3.3-3.4a.554.554 0 0 0-.41-.175.558.558 0 0 0-.414.175L.174.76a.59.59 0 0 0-.17.425.59.59 0 0 0 .17.426l2.328 2.4L.174 6.41a.593.593 0 0 0-.17.426c0 .166.057.308.17.425l.533.574a.554.554 0 0 0 .413.175.55.55 0 0 0 .412-.175z"></path>
                                </g>
                            </g>
                        </svg>
                    </a>
                </div>
                <div class="slider-item">
                    <div class="pic">
                        <img src="img/pics/bottom-slider2.png" alt="">
                    </div>
                    <div class="title">
                        <p class="font-18r">Профессионализм</p>
                    </div>
                    <div class="txt">
                        <p class="font-16r">After a collaborative assessment we'll explore your business problems and needs co-creatively.</p>
                    </div>
                    <a href="#"><span class="font-16r">Learn more</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="5" height="8" viewBox="0 0 5 8">
                            <g>
                                <g>
                                    <path fill="#166dd5" d="M4.831 4.436a.589.589 0 0 0 .17-.425.587.587 0 0 0-.17-.426l-3.3-3.4a.554.554 0 0 0-.41-.175.558.558 0 0 0-.414.175L.174.76a.59.59 0 0 0-.17.425.59.59 0 0 0 .17.426l2.328 2.4L.174 6.41a.593.593 0 0 0-.17.426c0 .166.057.308.17.425l.533.574a.554.554 0 0 0 .413.175.55.55 0 0 0 .412-.175z"></path>
                                </g>
                            </g>
                        </svg>
                    </a>
                </div>
                <div class="slider-item active">
                    <div class="pic">
                        <img src="img/pics/bottom-slider3.png" alt="">
                    </div>
                    <div class="title">
                        <p class="font-18r">Проактивность</p>
                    </div>
                    <div class="txt">
                        <p class="font-16r">We provide business development, marketing, planning, operations
                            and financial services. </p>
                    </div>
                    <a href="#"><span class="font-16r">Learn more</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="5" height="8" viewBox="0 0 5 8">
                            <g>
                                <g>
                                    <path fill="#166dd5" d="M4.831 4.436a.589.589 0 0 0 .17-.425.587.587 0 0 0-.17-.426l-3.3-3.4a.554.554 0 0 0-.41-.175.558.558 0 0 0-.414.175L.174.76a.59.59 0 0 0-.17.425.59.59 0 0 0 .17.426l2.328 2.4L.174 6.41a.593.593 0 0 0-.17.426c0 .166.057.308.17.425l.533.574a.554.554 0 0 0 .413.175.55.55 0 0 0 .412-.175z"></path>
                                </g>
                            </g>
                        </svg>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>