<section class="gar">
    <div class="top-bg">

    </div>
    <div class="top-txt">
        <span>Гарантии</span>
    </div>
    <div class="content-wr">
    <div class="container-main">
        <div class="left-part">
            <div class="container-left">
                <div class="question">
                    <span class="font-20r">Гарантии и безопасность</span>
                </div>
                <div class="title">
                    <p class="font-32r">Плати $0, получай $1 000 000!</p>
                </div>
                <div class="text">
                    <p class="font-18r">Получи инструменты для построения лидерской структуры, работающие в любом регионе мира</p>
                </div>
                <div class="text-bottom">
                    <p class="font-18r">Бесплатный вебинар, на котором мы поделимся с вами опытом, механизмами и технологиями, которые позволяют нашим лидерам в Азии, Африке, Латинской Америке запускать и развивать эффективные МЛМ-структуры, используя продукты многофункциональной платформы EDC Blockchain.</p>
                </div>
                <div class="button-wr">
                    <button class="button-grad empty">
                        <span>Записаться на вебинар</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="right-part">
            <div class="main-img">
                <img src="img/pics/phone.png" alt="">
            </div>
            <div class="line-wr">
                <div class="line line-1 size1"><img src="img/pics/line1.png" alt=""></div>
                <div class="line line-2 size1"><img src="img/pics/line1.png" alt=""></div>
                <div class="line line-3 size1"><img src="img/pics/line1.png" alt=""></div>
                <div class="line line-4 size2"><img src="img/pics/line2.png" alt=""></div>
                <div class="line line-5 size2"><img src="img/pics/line2.png" alt=""></div>
                <div class="line line-6 size3"><img src="img/pics/line3.png" alt=""></div>
                <div class="line line-7 size3"><img src="img/pics/line3.png" alt=""></div>
            </div>
        </div>
    </div>
</div>
</section>