<section class="gar">
    <div class="top-bg">

    </div>
    <div class="top-txt">
        <span>@@topTxt</span>
    </div>
    <div class="content-wr">
    <div class="container-main">
        <div class="left-part">
            <div class="container-left">
                <div class="question">
                    <span class="font-20r">@@question</span>
                </div>
                <div class="title">
                    <p class="font-32r">@@title</p>
                </div>
                <div class="text">
                    <p class="font-18r">@@txt1</p>
                </div>
                <div class="text-bottom">
                    <p class="font-18r">@@txt2</p>
                </div>
                <div class="button-wr">
                    <button class="button-grad empty modal-trigger" data-target="form-modal">
                        <span>@@button</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="right-part">
            <div class="main-img">
                <img src="img/pics/phone.png" alt="">
            </div>
            <div class="line-wr">
                <div class="line line-1 size1"><img src="img/pics/line1.png" alt=""></div>
                <div class="line line-2 size1"><img src="img/pics/line1.png" alt=""></div>
                <div class="line line-3 size1"><img src="img/pics/line1.png" alt=""></div>
                <div class="line line-4 size2"><img src="img/pics/line2.png" alt=""></div>
                <div class="line line-5 size2"><img src="img/pics/line2.png" alt=""></div>
                <div class="line line-6 size3"><img src="img/pics/line3.png" alt=""></div>
                <div class="line line-7 size3"><img src="img/pics/line3.png" alt=""></div>
            </div>
        </div>
    </div>
</div>
</section>
