<section class="guarantees">
    <div class="top-bg">

    </div>
    <div class="content-wr">
    <div class="container-main">
        <div class="left-part">
            <div class="container-left">
                <div class="question">
                    <span class="font-20r">Доверие и гарантии</span>
                </div>
                <div class="title">
                    <p class="font-32r">Создавай свое будущее только с</p>
                </div>
                <div class="text">
                    <p class="font-16r">Станьте активным участником глобального проекта, который с помощью технологий ежедневно меняет жизни миллионов людей!</p>
                </div>
                <ul class="list-default">
                    <li>
                        <p class="font-16r">Нам доверяют более миллиона людей в странах Юго-Восточной Азии, включая Китай, Европы, Африки и Латинской Америки.</p>
                    </li>
                    <li>
                        <p class="font-16r">Платформа работает на рынке блокчейн-технологий с 2016 года и активно развивает токенизацию бизнеса по всему миру.</p>
                    </li>
                    <li>
                        <p class="font-16r">Компания владеет всеми необходимыми лицензиями на ведение операционной деятельности во всех странах присутствия.</p>
                    </li>
                    <li>
                        <p class="font-16r">Нашими официальными партнерами стали более 30 крупнейших криптовалютных бирж, агрегаторов и обменников.</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="right-part">
            <div class="main-img">
                <img src="img/pics/shape-main.png" alt="">
            </div>
            
            <div class="circle-container">
                <div class="circle1 circle">
                    <img src="img/pics/circle1.svg" alt="">
                </div>
                <div class="circle2 circle">
                    <img src="img/pics/circle2.svg" alt="">
                </div>
                <div class="circle3 circle">
                    <img src="img/pics/circle3.svg" alt="">
                </div>
            </div>
        </div>
        <div class="item-wr">
            <div class="item">
                <div class="pic">
                    <img src="img/pics/gar1.png" alt="">
                </div>
                <div class="title">
                    <p class="font-60r">100,000</p>
                </div>
                <div class="txt">
                    <p class="font-12r">До 100,000 транзакций в секунду</p>
                </div>
            </div>
            <div class="item">
                <div class="pic">
                    <img src="img/pics/gar2.png" alt="">
                </div>
                <div class="title">
                    <p class="font-60r">1.2 млн</p>
                </div>
                <div class="txt">
                    <p class="font-12r">Более 1.2 млн кошельков</p>
                </div>
            </div>
            <div class="item">
                <div class="pic">
                    <img src="img/pics/gar3.png" alt="">
                </div>
                <div class="title">
                    <p class="font-60r">3</p>
                </div>
                <div class="txt">
                    <p class="font-12r">3 пакетных решения для создания собственных цифровых активов</p>
                </div>
            </div>
            <div class="item">
                <div class="pic">
                    <img src="img/pics/gar4.png" alt="">
                </div>
                <div class="title">
                    <p class="font-60r">100 млрд</p>
                </div>
                <div class="txt">
                    <p class="font-12r">Только 100 млрд монет EDC</p>
                </div>
            </div>
            
        </div>
    </div>
</div>
</section>