<section class="guarantees">
    <div class="top-bg">

    </div>
    <div class="content-wr">
    <div class="container-main">
        <div class="left-part">
            <div class="container-left">
                <div class="question">
                    <span class="font-20r">@@question</span>
                </div>
                <div class="title">
                    <p class="font-32r">@@title</p>
                </div>
                <div class="text">
                    <p class="font-16r">@@description</p>
                </div>
                <ul class="list-default">
                    <li>
                        <p class="font-16r">@@item1</p>
                    </li>
                    <li>
                        <p class="font-16r">@@item2</p>
                    </li>
                    <li>
                        <p class="font-16r">@@item3</p>
                    </li>
                    <li>
                        <p class="font-16r">@@item4</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="right-part">
            <div class="main-img">
                <img src="img/pics/shape-main.png" alt="">
            </div>

            <div class="circle-container">
                <div class="circle1 circle">
                    <img src="img/pics/circle1.svg" alt="">
                </div>
                <div class="circle2 circle">
                    <img src="img/pics/circle2.svg" alt="">
                </div>
                <div class="circle3 circle">
                    <img src="img/pics/circle3.svg" alt="">
                </div>
            </div>
        </div>
        <div class="item-wr">
            <div class="item">
                <div class="pic">
                    <img src="img/pics/gar1.png" alt="">
                </div>
                <div class="title">
                    <p class="font-60r">@@bottomItem1</p>
                </div>
                <div class="txt">
                    <p class="font-12r">@@bottomItem1Txt</p>
                </div>
            </div>
            <div class="item">
                <div class="pic">
                    <img src="img/pics/gar2.png" alt="">
                </div>
                <div class="title">
                    <p class="font-60r">@@bottomItem2</p>
                </div>
                <div class="txt">
                    <p class="font-12r">@@bottomItem3Txt</p>
                </div>
            </div>
            <div class="item">
                <div class="pic">
                    <img src="img/pics/gar3.png" alt="">
                </div>
                <div class="title">
                    <p class="font-60r">@@bottomItem3</p>
                </div>
                <div class="txt">
                    <p class="font-12r">@@bottomItem3Txt</p>
                </div>
            </div>


        </div>
    </div>
</div>
</section>
