<header>
    <div class="header-container container">
        <div class="logo">
            <img src="img/pics/logo.png" alt="">
            <span class="logo-txt">EDC Blockchain</span>
        </div>
        <div class="lang-container dropdown-group">
            <button class="drop-trigger grey-lnk-style lang-trigger">
                <span class="font-18r">@@currentLang</span>
            </button>
            <div class="hover-container">
                <div class="drop-container">
                    <ul class="drop-list list-default">
                        <li class="drop-item">
                            <a href="#" class="font-18r">English</a>
                        </li>
                        <li class="drop-item">
                            <a href="#" class="font-18r">中國人</a>
                        </li>
                        <li class="drop-item">
                            <a href="#" class="font-18r">Türk</a>
                        </li>
                        <li class="drop-item">
                            <a href="#" class="font-18r">Espanol</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
