<header class="header-main">
    <div class="container-main">
        <a href="/" class="logo">
            <img src="img/pics/logo.png" alt="">
            <span class="logo-txt">EDC Blockchain</span>
        </a>
        <div class="right-part">
        <div class="lang-container dropdown-group">
            <button class="drop-trigger grey-lnk-style lang-trigger">
                <span class="font-15r">Homepages</span>
            </button>
            <div class="hover-container">
                <div class="drop-container">
                    <ul class="drop-list list-default">
                        <li class="drop-item">
                            <a href="#" class="font-15r">Homepage1</a>
                        </li>
                        <li class="drop-item">
                            <a href="#" class="font-15r">Homepage2</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
            <a href="#">About Us</a>
            <a href="#">Services</a>
            <a href="#">Work</a>
        
    </div>
    </div>
</header>