<header class="header-main partner">
    <div class="container-main">
        <div class="logo">
            <img src="img/pics/logo.png" alt="">
            <span class="logo-txt">EDC Blockchain</span>
        </div>
        <div class="right-part">
            <div class="timer">
                <div class="timer-txt"><span>До начала вебинара осталось:</span></div>
                <div id="timer">

                </div>
            </div>
            <div class="button-wr">
                <button class="button-grad empty">
                    <span>Записаться на вебинар</span>
                </button>
            </div>
    </div>
    </div>
</header>