<section class="first-screen">
    <div class="container-main">
        
        <div class="content-wrapper">
            <div class="title">
            <h1>Пассивный доход <br>с EDC Blockchain!</h1>
        </div>
        <div class="txt">
            <p>Научитесь использовать преимущества наших передовых блокчейн-решений на бесплатном вебинаре! 
            </p>
        </div>
        <div class="timer">
            <div class="timer-head">
                <p>Записаться на бесплатный вебинар EDC Blockchain</p>
            </div>
            <div class="timer-wr">
                <div class="time-off" data-lang="English">
        
                </div>
            </div>
        </div>
        <div class="button-wr">
            <button class="button-grad empty">
                <span>Записаться на вебинар</span>
            </button>
        </div>
        </div>
    </div>
    <button class="scroll-trigger">
        <img src="img/pics/scroll-trigger.png" alt="">
    </button>
</section>