<section class="first-screen">
    <div class="container-main">

        <div class="content-wrapper">
            <div class="title">
            <h1>@@title</h1>
        </div>
        <div class="txt">
            <p>@@description</p>
        </div>
        <div class="timer">
            <div class="timer-head">
                <p>@@timerTxt</p>
            </div>
            <div class="timer-wr">
                <div class="time-off" data-lang="English">

                </div>
            </div>
        </div>
        <div class="button-wr">
            <button class="button-grad empty modal-trigger" data-target="form-modal">
                <span>@@button</span>
            </button>
        </div>
        </div>
    </div>
    <a href="#advantages" class="scroll-trigger">
        <img src="img/pics/scroll-trigger.png" alt="">
    </a>
</section>
