<div class="lang">
    <div class="container-main">

        <div class="content-wrapper">
            <div class="top-content">
                <div class="title">
                    <h2 class="font-32b">Выбери вебинар на своем языке!</h2>
                </div>
            </div>
            <div class="lang-items">
                <div class="lang-item">
                    <div class="pic">
                        <img src="img/pics/lang1.png" alt="">
                    </div>
                    <div class="title">
                        <p class="font-18r">Инга Смикрофоном</p>
                    </div>
                    <div class="txt">
                        <p class="font-18r">Китайский</p>
                    </div>
                </div>
                <div class="lang-item">
                    <div class="pic">
                        <img src="img/pics/lang2.png" alt="">
                    </div>
                    <div class="title">
                        <p class="font-18r">Настя Вочках</p>
                    </div>
                    <div class="txt">
                        <p class="font-18r">Испанский</p>
                    </div>
                </div>
                <div class="lang-item">
                    <div class="pic">
                        <img src="img/pics/lang3.png" alt="">
                    </div>
                    <div class="title">
                        <p class="font-18r">Камиль Индонез</p>
                    </div>
                    <div class="txt">
                        <p class="font-18r">Турецкий</p>
                    </div>
                </div>
                <div class="lang-item">
                    <div class="pic">
                        <img src="img/pics/lang4.png" alt="">
                    </div>
                    <div class="title">
                        <p class="font-18r">Камиль Индонез</p>
                    </div>
                    <div class="txt">
                        <p class="font-18r">Турецкий</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>