<div class="lang">
    <div class="container-main">

        <div class="content-wrapper">
            <div class="top-content">
                <div class="title">
                    <h2 class="font-32b">@@title</h2>
                </div>
            </div>
            <div class="lang-items">
                <div class="lang-item">
                    <div class="pic">
                        <img src="img/pics/lang1.png" alt="">
                    </div>
                    <div class="title">
                        <p class="font-18r">@@item1</p>
                    </div>
                    <div class="txt">
                        <p class="font-18r">@@itemTxt1</p>
                    </div>
                </div>
                <div class="lang-item">
                    <div class="pic">
                        <img src="img/pics/lang2.png" alt="">
                    </div>
                    <div class="title">
                        <p class="font-18r">@@item2</p>
                    </div>
                    <div class="txt">
                        <p class="font-18r">@@itemTxt2</p>
                    </div>
                </div>
                <div class="lang-item">
                    <div class="pic">
                        <img src="img/pics/lang3.png" alt="">
                    </div>
                    <div class="title">
                        <p class="font-18r">@@item3</p>
                    </div>
                    <div class="txt">
                        <p class="font-18r">@@itemTxt3</p>
                    </div>
                </div>
                <div class="lang-item">
                    <div class="pic">
                        <img src="img/pics/lang4.png" alt="">
                    </div>
                    <div class="title">
                        <p class="font-18r">@@item4</p>
                    </div>
                    <div class="txt">
                        <p class="font-18r">@@itemTxt4</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
