<section class="main-content">
        <div class="decor-elements">
            <div class="decor1 decor">
                <img src="img/pics/pay.png" alt="">
            </div>
            <div class="decor2 decor">
                <img src="img/pics/bisnes.png" alt="">
            </div>
            <div class="decor3 decor">
               <div class="decor-inner">
                <div class="decor3-item">
                    <img src="img/pics/edc.png" alt="">
                </div>
                <div class="decor3-item">
                    <img src="img/pics/year.png" alt="">
                </div>
                <div class="decor3-item">
                    <img src="img/pics/educ.png" alt="">
                </div>
               </div>
            </div>
        </div>
    <div class="left-part">
        <div class="inner">
        <div class="title">
            <h1>Пришло время зарабатывать большие деньги</h1>
        </div>
        <div class="description">
            <p>Выбери какой формат заробка тебя интересует больше, и начинай двигаться к жизни настоящих успешных людей
            </p>
        </div>
        <div class="type-item">
            <div class="pic">
                <img src="img/pics/pic1.png" alt="">
            </div>
            <div class="txt">
                <p>Узнать тренды пассивного дохода 2020 и начать зарабатывать</p>
                <a href="/home.html">
                    <span>Узнать детали</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="17" viewBox="0 0 28 17">
                        <defs>
                            <clipPath id="4st4a">
                                <path fill="#fff" d="M19.25 16.996l-2.12-2.121 8.308-8.309 2.121 2.122z" />
                            </clipPath>
                            <clipPath id="4st4b">
                                <path fill="#fff" d="M25.624 10.623l-8.308-8.309L19.437.193 27.746 8.5z" />
                            </clipPath>
                            <clipPath id="4st4c">
                                <path fill="#fff" d="M0 7h23.904v3H0z" />
                            </clipPath>
                        </defs>
                        <g>
                            <g>
                                <path fill="none" stroke="#fff" stroke-miterlimit="50" stroke-width="4"
                                    d="M19.25 16.996v0l-2.12-2.121v0l8.308-8.309v0l2.121 2.122v0z"
                                    clip-path="url(&quot;#4st4a&quot;)" />
                            </g>
                            <g>
                                <path fill="none" stroke="#fff" stroke-miterlimit="50" stroke-width="4"
                                    d="M25.624 10.623v0l-8.308-8.309v0L19.437.193v0L27.746 8.5v0z"
                                    clip-path="url(&quot;#4st4b&quot;)" />
                            </g>
                            <g>
                                <path fill="none" stroke="#fff" stroke-miterlimit="50" stroke-width="4"
                                    d="M0 7v0h23.904v3H0v0z" clip-path="url(&quot;#4st4c&quot;)" />
                            </g>
                        </g>
                    </svg>
                </a>
            </div>
        </div>
        </div>
    </div>
    <div class="right-part">
        <div class="inner">

       
        <div class="type-item">
            <div class="pic">
                <img src="img/pics/pic2.png" alt="">
            </div>
            <div class="txt">
                <p>Получить инсайд по построению собственной партнерской сети<br> в передовых Блокчейн проектах<br> и зарабатывать на этом</p>
                <a href="/partner.html">
                    <span>Узнать детали</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="17" viewBox="0 0 28 17">
                        <defs>
                            <clipPath id="4st4a">
                                <path fill="#fff" d="M19.25 16.996l-2.12-2.121 8.308-8.309 2.121 2.122z" />
                            </clipPath>
                            <clipPath id="4st4b">
                                <path fill="#fff" d="M25.624 10.623l-8.308-8.309L19.437.193 27.746 8.5z" />
                            </clipPath>
                            <clipPath id="4st4c">
                                <path fill="#fff" d="M0 7h23.904v3H0z" />
                            </clipPath>
                        </defs>
                        <g>
                            <g>
                                <path fill="none" stroke="#fff" stroke-miterlimit="50" stroke-width="4"
                                    d="M19.25 16.996v0l-2.12-2.121v0l8.308-8.309v0l2.121 2.122v0z"
                                    clip-path="url(&quot;#4st4a&quot;)" />
                            </g>
                            <g>
                                <path fill="none" stroke="#fff" stroke-miterlimit="50" stroke-width="4"
                                    d="M25.624 10.623v0l-8.308-8.309v0L19.437.193v0L27.746 8.5v0z"
                                    clip-path="url(&quot;#4st4b&quot;)" />
                            </g>
                            <g>
                                <path fill="none" stroke="#fff" stroke-miterlimit="50" stroke-width="4"
                                    d="M0 7v0h23.904v3H0v0z" clip-path="url(&quot;#4st4c&quot;)" />
                            </g>
                        </g>
                    </svg>
                </a>
            </div>
        </div>
        </div>
    </div>
</section>