<div class="map-slider top-slider">
    <div class="container-main">

        <div class="content-wrapper">
            <div class="top-content">
                <div class="title">
                    <h2 class="font-32b">EDC Blockchain - глобальная платформа с<br> пользователями на 5 континентах!</h2>
                </div>
                <div class="txt">
                    <p class="font-18r"> Блокчейн - самая популярная и востребованная экономическая тенденция 2020-го<br> года. Пока лучшие из проектов создают собственные монеты, ТОП-компании<br> предлагают полноценные блокчейн-экосистемы, позволяющие токенизировать бизнес и <br>быстро создавать товарооборот во всем мире.

                    </p>
                </div>
            </div>
            <div class="slider">
                <div class="slider-item">
                    <div class="pic">
                        <img src="img/pics/slide-top1.png" alt="">
                    </div>
                    <div class="title">
                        <p class="font-18r">Инсайты</p>
                    </div>
                    <div class="txt">
                        <p class="font-16r">Как зарабатывать с помощью смартфона?</p>
                    </div>
                    <a href="#"><span class="font-16r">Подать заявку</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="5" height="8" viewBox="0 0 5 8">
                            <g>
                                <g>
                                    <path fill="#166dd5" d="M4.831 4.436a.589.589 0 0 0 .17-.425.587.587 0 0 0-.17-.426l-3.3-3.4a.554.554 0 0 0-.41-.175.558.558 0 0 0-.414.175L.174.76a.59.59 0 0 0-.17.425.59.59 0 0 0 .17.426l2.328 2.4L.174 6.41a.593.593 0 0 0-.17.426c0 .166.057.308.17.425l.533.574a.554.554 0 0 0 .413.175.55.55 0 0 0 .412-.175z"></path>
                                </g>
                            </g>
                        </svg>
                    </a>
                </div>
                <div class="slider-item">
                    <div class="pic">
                        <img src="img/pics/slide-top2.png" alt="">
                    </div>
                    <div class="title">
                        <p class="font-18r">Знания</p>
                    </div>
                    <div class="txt">
                        <p class="font-16r">Быстрый запуск успешного бизнеса.</p>
                    </div>
                    <a href="#"><span class="font-16r">Подать заявку</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="5" height="8" viewBox="0 0 5 8">
                            <g>
                                <g>
                                    <path fill="#166dd5" d="M4.831 4.436a.589.589 0 0 0 .17-.425.587.587 0 0 0-.17-.426l-3.3-3.4a.554.554 0 0 0-.41-.175.558.558 0 0 0-.414.175L.174.76a.59.59 0 0 0-.17.425.59.59 0 0 0 .17.426l2.328 2.4L.174 6.41a.593.593 0 0 0-.17.426c0 .166.057.308.17.425l.533.574a.554.554 0 0 0 .413.175.55.55 0 0 0 .412-.175z"></path>
                                </g>
                            </g>
                        </svg>
                    </a>
                </div>
                <div class="slider-item">
                    <div class="pic">
                        <img src="img/pics/slide-top3.png" alt="">
                    </div>
                    <div class="title">
                        <p class="font-18r">Инновации</p>
                    </div>
                    <div class="txt">
                        <p class="font-16r">Самая производительная современная платформа.</p>
                    </div>
                    <a href="#"><span class="font-16r">Подать заявку</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="5" height="8" viewBox="0 0 5 8">
                            <g>
                                <g>
                                    <path fill="#166dd5" d="M4.831 4.436a.589.589 0 0 0 .17-.425.587.587 0 0 0-.17-.426l-3.3-3.4a.554.554 0 0 0-.41-.175.558.558 0 0 0-.414.175L.174.76a.59.59 0 0 0-.17.425.59.59 0 0 0 .17.426l2.328 2.4L.174 6.41a.593.593 0 0 0-.17.426c0 .166.057.308.17.425l.533.574a.554.554 0 0 0 .413.175.55.55 0 0 0 .412-.175z"></path>
                                </g>
                            </g>
                        </svg>
                    </a>
                </div>
                <div class="slider-item">
                    <div class="pic">
                        <img src="img/pics/slide-top3.png" alt="">
                    </div>
                    <div class="title">
                        <p class="font-18r">Инновации</p>
                    </div>
                    <div class="txt">
                        <p class="font-16r">Самая производительная современная платформа.</p>
                    </div>
                    <a href="#"><span class="font-16r">Подать заявку</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="5" height="8" viewBox="0 0 5 8">
                            <g>
                                <g>
                                    <path fill="#166dd5" d="M4.831 4.436a.589.589 0 0 0 .17-.425.587.587 0 0 0-.17-.426l-3.3-3.4a.554.554 0 0 0-.41-.175.558.558 0 0 0-.414.175L.174.76a.59.59 0 0 0-.17.425.59.59 0 0 0 .17.426l2.328 2.4L.174 6.41a.593.593 0 0 0-.17.426c0 .166.057.308.17.425l.533.574a.554.554 0 0 0 .413.175.55.55 0 0 0 .412-.175z"></path>
                                </g>
                            </g>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>