<section class="platform partner-platform">
    <div class="content-main container-main">
        <div class="content">
            <div class="txt-part">
                <div class="question">
                    <p class="font-18r">Какие связи, знакомства и контакты  получит пользователь?</p>
                </div>
                <div class="title">
                    <h2 class="font-32b">Главный актив предпринимателя -<br> окружение и связи!</h2>
                </div>
                <div class="text">
                    <p class="font-18r">Ваши знания, ваш опыт, и ваши связи! Вот, что остается с вами даже в кризис!</p>
                </div>
            </div>
            <div class="item-wr">
                <div class="item">
                    <div class="pic">
                        <img src="img/pics/platform1.png" alt="">
                    </div>
                    <div class="txt">
                        <div class="title">
                            <h4 class="font-18r">Новейшие технологии</h4>
                        </div>
                        <div class="text">
                            <p class="font-16r">Освоите новые технологичные инструменты для получения пассивного доходаа</p>
                        </div>
                        <div class="link">
                            <a href="#"><span class="font-16r">Записаться на вебинар</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="5" height="8" viewBox="0 0 5 8">
                                    <g>
                                        <g>
                                            <path fill="#166dd5"
                                                d="M4.831 4.436a.589.589 0 0 0 .17-.425.587.587 0 0 0-.17-.426l-3.3-3.4a.554.554 0 0 0-.41-.175.558.558 0 0 0-.414.175L.174.76a.59.59 0 0 0-.17.425.59.59 0 0 0 .17.426l2.328 2.4L.174 6.41a.593.593 0 0 0-.17.426c0 .166.057.308.17.425l.533.574a.554.554 0 0 0 .413.175.55.55 0 0 0 .412-.175z" />
                                        </g>
                                    </g>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="pic">
                        <img src="img/pics/platform2.png" alt="">
                    </div>
                    <div class="txt">
                        <div class="title">
                            <h4 class="font-18r">57 стран мира</h4>
                        </div>
                        <div class="text">
                            <p class="font-16r">Откроете новые возможности для развития бизнеса
                            </p>
                        </div>
                        <div class="link">
                            <a href="#"><span class="font-16r">Записаться на вебинар</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="5" height="8" viewBox="0 0 5 8">
                                    <g>
                                        <g>
                                            <path fill="#166dd5"
                                                d="M4.831 4.436a.589.589 0 0 0 .17-.425.587.587 0 0 0-.17-.426l-3.3-3.4a.554.554 0 0 0-.41-.175.558.558 0 0 0-.414.175L.174.76a.59.59 0 0 0-.17.425.59.59 0 0 0 .17.426l2.328 2.4L.174 6.41a.593.593 0 0 0-.17.426c0 .166.057.308.17.425l.533.574a.554.554 0 0 0 .413.175.55.55 0 0 0 .412-.175z" />
                                        </g>
                                    </g>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="pic">
                        <img src="img/pics/platform3.png" alt="">
                    </div>
                    <div class="txt">
                        <div class="title">
                            <h4 class="font-18r">1,2 млн открытых кошельков</h4>
                        </div>
                        <div class="text">
                            <p class="font-16r">Сможете создавать собственные цифровые активы</p>
                        </div>
                        <div class="link">
                            <a href="#"><span class="font-16r">Записаться на вебинар</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="5" height="8" viewBox="0 0 5 8">
                                    <g>
                                        <g>
                                            <path fill="#166dd5"
                                                d="M4.831 4.436a.589.589 0 0 0 .17-.425.587.587 0 0 0-.17-.426l-3.3-3.4a.554.554 0 0 0-.41-.175.558.558 0 0 0-.414.175L.174.76a.59.59 0 0 0-.17.425.59.59 0 0 0 .17.426l2.328 2.4L.174 6.41a.593.593 0 0 0-.17.426c0 .166.057.308.17.425l.533.574a.554.554 0 0 0 .413.175.55.55 0 0 0 .412-.175z" />
                                        </g>
                                    </g>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="pic">
                        <img src="img/pics/platform4.png" alt="">
                    </div>
                    <div class="txt">
                        <div class="title">
                            <h4 class="font-18r">3 глобальных представительства</h4>
                        </div>
                        <div class="text">
                            <p class="font-16r">Найдете новых клиентов и откроете глобальный рынок сбыта товаров и услуг</p>
                        </div>
                        <div class="link">
                            <a href="#"><span class="font-16r">Записаться на вебинар</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="5" height="8" viewBox="0 0 5 8">
                                    <g>
                                        <g>
                                            <path fill="#166dd5"
                                                d="M4.831 4.436a.589.589 0 0 0 .17-.425.587.587 0 0 0-.17-.426l-3.3-3.4a.554.554 0 0 0-.41-.175.558.558 0 0 0-.414.175L.174.76a.59.59 0 0 0-.17.425.59.59 0 0 0 .17.426l2.328 2.4L.174 6.41a.593.593 0 0 0-.17.426c0 .166.057.308.17.425l.533.574a.554.554 0 0 0 .413.175.55.55 0 0 0 .412-.175z" />
                                        </g>
                                    </g>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="pic">
                        <img src="img/pics/platform5.png" alt="">
                    </div>
                    <div class="txt">
                        <div class="title">
                            <h4 class="font-18r">Собственная экосистема</h4>
                        </div>
                        <div class="text">
                            <p class="font-16r">Повысите продажи и поднимите торговые обороты
                            </p>
                        </div>
                        <div class="link">
                            <a href="#"><span class="font-16r">Записаться на вебинар</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="5" height="8" viewBox="0 0 5 8">
                                    <g>
                                        <g>
                                            <path fill="#166dd5"
                                                d="M4.831 4.436a.589.589 0 0 0 .17-.425.587.587 0 0 0-.17-.426l-3.3-3.4a.554.554 0 0 0-.41-.175.558.558 0 0 0-.414.175L.174.76a.59.59 0 0 0-.17.425.59.59 0 0 0 .17.426l2.328 2.4L.174 6.41a.593.593 0 0 0-.17.426c0 .166.057.308.17.425l.533.574a.554.554 0 0 0 .413.175.55.55 0 0 0 .412-.175z" />
                                        </g>
                                    </g>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="pic">
                        <img src="img/pics/platform6.png" alt="">
                    </div>
                    <div class="txt">
                        <div class="title">
                            <h4 class="font-18r">Профессиональный топ-менеджмент</h4>
                        </div>
                        <div class="text">
                            <p class="font-16r">Станете участником глобального сообщества активных и целеустремленных людей по всему миру
                            </p>
                        </div>
                        <div class="link">
                            <a href="#"><span class="font-16r">Записаться на вебинар</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="5" height="8" viewBox="0 0 5 8">
                                    <g>
                                        <g>
                                            <path fill="#166dd5"
                                                d="M4.831 4.436a.589.589 0 0 0 .17-.425.587.587 0 0 0-.17-.426l-3.3-3.4a.554.554 0 0 0-.41-.175.558.558 0 0 0-.414.175L.174.76a.59.59 0 0 0-.17.425.59.59 0 0 0 .17.426l2.328 2.4L.174 6.41a.593.593 0 0 0-.17.426c0 .166.057.308.17.425l.533.574a.554.554 0 0 0 .413.175.55.55 0 0 0 .412-.175z" />
                                        </g>
                                    </g>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>