<section class="first-screen partner">
    <div class="container-main">
        
        <div class="content-wrapper">
            <div class="title">
            <h1>Построй команду<br>
                в лучшем <br>блокчейн-проекте! </h1>
        </div>
        <div class="txt">
            <p>Успех в MLM-предпринимательстве - это история не только про большой труд: вы много работали ранее, но не всегда получали ожидаемый результат. Успех в MLM - это еще ряд слагаемых: “правильная” компания, правильное время и перспективная ниша. Все эти факторы откроет вам наш интерактив! 
 
            </p>
        </div>
        
        <div class="button-wr">
            <button class="button-grad empty">
                <span>Записаться на вебинар</span>
            </button>
        </div>
        </div>
    </div>
</section>