<div class="subscr2">
    <div class="container-main">
        <div class="left-part">
            <div class="subscr-item">
                <div class="title">
                    <p>Твой главный шанс стать топ-лидером <br>в 2020-м году!</p>
                </div>
                <div class="txt">
                    <p>Не упустите возможность, которую ждали всю жизнь!
                    </p>
                </div>
                <form action="#">
                    <div class="input-group">
                        <input class="font-16r" type="text" placeholder="Enter your email" name="emil">
                        <button class="subscr-button">
                            <img src="../img/pics/send.png" alt="">
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="right-part">

        </div>
    </div>
</div>