<div class="subscr2">
    <div class="container-main">
        <div class="left-part">
            <div class="subscr-item">
                <div class="title">
                    <p>@@title</p>
                </div>
                <div class="txt">
                    <p>@@description</p>
                </div>
                <form action="#">
                    <div class="input-group">
                        <div class="input-item">
                            <div class="input-wr">
                                <input type="text" placeholder="@@label" class="reqiered-field" name="email">
                            </div>
                            <span class="valid-error"></span>
                        </div>
                        <button class="button blue-btn">
                            <span>@@button</span>
                        </button>
                    </div>

                </form>
            </div>
        </div>
        <div class="right-part">

        </div>
    </div>
</div>
