<section class="subscribe">
    <div class="container-main">
        <div class="content">
            <div class="title">
                <h2>@@title</h2>
            </div>
            <div class="text">
                <p>@@description</p>
            </div>
            <form action="#">
                <div class="input-group">
                    <div class="input-item">
                        <div class="input-wr">
                            <input type="text" placeholder="Email" class="reqiered-field" name="email">
                        </div>
                        <span class="valid-error"></span>
                    </div>
                </div>
              <div class="button-wr">
                <button class="button-grad">
                    <span>@@button</span>
                </button>
            </div>
            </form>

        </div>
    </div>
</section>
