<section class="webinars">
    <div class="webinar-wr">
        <div class="left-part">
            <div class="img-container">
                <img src="img/pics/photo.png" alt="">
            </div>

        </div>
        <div class="right-part">
            <div class="content-wr">
                <div class="question">
                    <span class="font-20r">@@question
                    </span>
                </div>
                <div class="title">
                    <p class="font-32b">@@title</p>
                </div>
                <div class="text">
                    <p class="font-16r">@@description1</p>
                    <p class="font-16r">@@description2</p>
                </div>
                <div class="button-wr">
                    <button class="button-grad empty modal-trigger" data-target="form-modal">
                        <span>@@button</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
