<section class="webinars">
    <div class="webinar-wr">
        <div class="left-part">
            <img src="img/pics/photo.png" alt="">
        </div>
        <div class="right-part">
            <div class="content-wr">
                <div class="question">
                    <span class="font-20r">Вебинары EDC Blockchain</span>
                </div>
                <div class="title">
                    <p class="font-32b">Зачем записываться на вебинар?</p>
                </div>
                <div class="text">
                    <p class="font-16r">Вебинары EDC Blockchain помогут разобраться в тонкостях современного рынка
                        цифровых технологий и получать огромные преимущества от использования технологичных инструментов
                        платформы!
                    </p>
                    <p class="font-16r">Вы научитесь получать стабильные бонусы от лизинговой программы, использовать
                        усовершенствованный функционал переводов EDC Blockchain, проводить акции лояльности для ваших
                        клиентов и откроете новый глобальный рынок сбыта ваших товаров и услуг на партнерском
                        маркетплейсе ECRO!
                    </p>
                </div>
                <div class="button-wr">
                    <button class="button-grad empty">
                        <span>Записаться на вебинар</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>